fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
transformers
torch
sentencepiece
langdetect
pydantic
numpy
tensorflow
transformers
datasets
pandas
seaborn
scikit-learn
tabulate
matplotlib
tf-keras
pathlib
